.page{
    font-family:'Montserrat', sans-serif;
}
.nav-list {
    list-style: none;
    padding: 0;
    margin: 31px 0;
    display: flex;
    justify-content: center;
  }
  .nav-item + .nav-item {
    padding-left: 75px;
  }
  .nav-item-link {
    text-decoration: none;
    color: #ff0000;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
  }
  
  .nav-item-link:hover {
    color: #be0202;

  }

  .banner{
    background: url(/img/image1.png) 100% 100%;
    background-size: cover;
    padding-bottom: 61.64%;
  }

  .main_title {
    margin-top: 49px;
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
    letter-spacing: 3.3px;
    
  }
  
  .text {
    text-align: center;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
    margin-top: 38px;
    margin-left: 67.5px;
    margin-right: 67.5px;
  }
  
  .main_button {
    background: red;
    transition: background-color 0.3s ease;
    color: white;
    text-transform: uppercase;
    width: 191px;
    height: 51px;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 1.8px;
    border-radius: 4px;
    border: 1px red;
    margin-left: auto;
    margin-top: 66px;
    margin-right: auto;
    display: block;
    cursor: pointer;
  }

  .main_button:hover {
    background-color: #be0202;
  }
  
  .footer_1 {
    font-size: 16px;
    letter-spacing: 2.4px;
    font-weight: 700;
    margin-top: 82px;
    text-align: right;
    margin-right: 105px;
    padding-bottom: 29px;
  }